<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deint.condominapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />

    <application
        android:name="com.deint.condominapp.others.CondominappApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.deint.condominapp.Activity_Login"
            android:theme="@style/AppTheme.ActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.deint.condominapp.Activity_Login_Admin"
            android:theme="@style/AppTheme.ActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.deint.condominapp.Activity_Home"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="jvmedinilla.ncatz.com"
                    android:pathPrefix="/activity_home"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.deint.condominapp.preferences.application.Profile"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name="com.deint.condominapp.preferences.application.Settings"
            android:theme="@style/AppTheme.ActionBar" />
        <activity android:name="com.deint.condominapp.Activity_QR" />
        <activity android:name="com.deint.condominapp.Activity_ViewImage" />

        <receiver android:name=".others.receivers.InsertReceiver">
            <intent-filter>
                <action android:name="com.deint.condominapp.action.INSERTED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".others.receivers.UpdateReceiver">
            <intent-filter>
                <action android:name="com.deint.condominapp.action.UPDATED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".others.receivers.DeleteReceiver">
            <intent-filter>
                <action android:name="com.deint.condominapp.action.DELETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>